In [1]:
import mysql.connector
from mysql.connector import Error
import getpass
import pandas as pd

# Database connection details
host = "localhost"
database = "sakila"
user = "root"  # Replace with your MySQL username
password = getpass.getpass()  # Replace with your MySQL password

def connect_and_query():
    try:
        # Establish the connection
        connection = mysql.connector.connect(
            host=host,
            database=database,
            user=user,
            password=password
        )

        if connection.is_connected():
            print("Connected to the Sakila database")

            # Example query
            cursor = connection.cursor()
            query = "SELECT actor_id, first_name, last_name FROM actor LIMIT 10;"
            cursor.execute(query)
            rows = cursor.fetchall()

            # Print the results
            print("\nTop 10 Actors in the Sakila Database:")
            for row in rows:
                print(f"Actor ID: {row[0]}, Name: {row[1]} {row[2]}")

    except Error as e:
        print("Error while connecting to MySQL:", e)

    finally:
        if 'connection' in locals() and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

if __name__ == "__main__":
    connect_and_query()

Connected to the Sakila database

Top 10 Actors in the Sakila Database:
Actor ID: 1, Name: PENELOPE GUINESS
Actor ID: 2, Name: NICK WAHLBERG
Actor ID: 3, Name: ED CHASE
Actor ID: 4, Name: JENNIFER DAVIS
Actor ID: 5, Name: JOHNNY LOLLOBRIGIDA
Actor ID: 6, Name: BETTE NICHOLSON
Actor ID: 7, Name: GRACE MOSTEL
Actor ID: 8, Name: MATTHEW JOHANSSON
Actor ID: 9, Name: JOE SWANK
Actor ID: 10, Name: CHRISTIAN GABLE
MySQL connection is closed

In [3]:
from sqlalchemy import create_engine, text

def rentals_month(engine, month, year):
    """
    Retrieve rental data for a given month and year from the Sakila database.

    Parameters:
        engine (object): SQLAlchemy engine for database connection.
        month (int): The month (1-12) for which rental data is to be retrieved.
        year (int): The year for which rental data is to be retrieved.

    Returns:
        pd.DataFrame: A Pandas DataFrame containing the rental data for the given month and year.
    """
    try:
        # Query to fetch rental data for the given month and year
        query = text("""
        SELECT 
            rental_id,
            rental_date,
            inventory_id,
            customer_id,
            return_date,
            staff_id
        FROM rental
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year;
        """)

        # Execute the query
        with engine.connect() as connection:
            result = connection.execute(query, {"month": month, "year": year})
            rows = list(result)

        # Convert the result into a Pandas DataFrame
        rentals_df = pd.DataFrame(rows, columns=result.keys())
        return rentals_df

    except Exception as e:
        print("Error while retrieving rental data:", e)
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    # Replace the below connection string with your actual database credentials
    engine = create_engine("mysql+mysqlconnector://root:password@localhost/sakila")

    month = 5  # May
    year = 2021

    rentals = rentals_month(engine, month, year)
    print(rentals)

Error while retrieving rental data: (mysql.connector.errors.ProgrammingError) 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
(Background on this error at: https://sqlalche.me/e/20/f405)
Empty DataFrame
Columns: []
Index: []

In [4]:
def rental_count_month(rentals_df, month, year):
    """
    Calculate the number of rentals made by each customer_id for a specific month and year.

    Parameters:
        rentals_df (pd.DataFrame): The input DataFrame containing rental data.
        month (str): The month in 'MM' format (e.g., '05').
        year (str): The year in 'YYYY' format (e.g., '2005').

    Returns:
        pd.DataFrame: A new DataFrame with customer_id as the index and a single column 
                      named 'rentals_MM_YYYY' containing the rental counts for that month and year.
    """
    # Ensure the input month and year are strings
    month = str(month).zfill(2)
    year = str(year)
    
    # Filter the DataFrame for the specified month and year
    rentals_df['rental_date'] = pd.to_datetime(rentals_df['rental_date'])
    filtered_df = rentals_df[
        (rentals_df['rental_date'].dt.month == int(month)) &
        (rentals_df['rental_date'].dt.year == int(year))
    ]
    
    # Group by customer_id and count the rentals
    rental_counts = filtered_df.groupby('customer_id').size().reset_index(name=f'rentals_{month}_{year}')
    
    # Set customer_id as the index
    rental_counts.set_index('customer_id', inplace=True)
    
    return rental_counts

In [5]:
import pandas as pd

def compare_rentals(df1, df2):
    """
    Compare the number of rentals made by each customer in two different months.

    Parameters:
        df1 (pd.DataFrame): The first DataFrame with rental counts, indexed by customer_id.
        df2 (pd.DataFrame): The second DataFrame with rental counts, indexed by customer_id.

    Returns:
        pd.DataFrame: A combined DataFrame with a new 'difference' column indicating the 
                      difference in rentals between the two months.
    """
    # Combine the two DataFrames on customer_id
    combined_df = pd.merge(df1, df2, left_index=True, right_index=True, how='outer', suffixes=('_month1', '_month2'))
    
    # Fill missing values with 0 (assume no rentals for missing customers)
    combined_df.fillna(0, inplace=True)
    
    # Calculate the difference between the two months
    combined_df['difference'] = combined_df.iloc[:, 0] - combined_df.iloc[:, 1]
    
    return combined_df